.login {
  display: grid;
  place-items: center;
  height: 100vh;
  background-color: #000;
}

.login > img {
  width: 100%;
}

.login > a {
  padding: 20px;
  background-color: #1db954;
  text-decoration: none;
  border-radius: 99px;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: bold;
}
